rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
     
		match /{document=**}{
    	allow read, write: if request.auth != null
    }
   // Permitir escritura a todos los usuarios para la colección 'errors'
    match /errors/{error} {
      allow write: if true;
    }
    
    // Permitir lectura a todos los usuarios para documentos en 'categories' donde 'visible' es true
    match /categories/{categoria} {
      allow read: if resource.data.marketVisible == true;
    }
     // Permitir lectura a todos los usuarios para documentos en 'stores' donde 'visible' es true
    match /stores/{store} {
      allow read: if resource.data.marketVisible == true;
    }
    
    
    match /prices/{price} {
      allow read: if resource.data.marketVisible == true;
    }
    
    match /orders/{order} {
      allow write: if request.resource.data.marketOrder==true
    }
    
    match /orders/{order} {
      allow read: if true
    }
    
    
    // Permitir actualuzación del campo folio solo si marketVisible is true
  	match /stores/{store} {
  		allow update: if resource.data.marketVisible == true;
		}
    
    // Solo permite leer el campo 'name' si se proporciona el teléfono correcto
    match /users/{userId} {
      allow read: if 
        // El teléfono en la consulta coincide
         request.query.where[0][0]=="phone"
    }
   
   
  }
}