@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@utility h1 {
  @apply text-center text-2xl font-bold my-2;
}

@utility h2 {
  @apply text-center text-xl font-bold my-1;
}

@utility h3 {
  @apply text-center text-lg font-bold;
}

@utility text-helper {
  @apply text-xs opacity-70;
}

@utility card {
  @apply shadow-md rounded-lg p-2;
}

@utility input {
  @apply border border-gray-500/50 rounded-md p-1;
}

@layer theme {
  .primary {
    @apply bg-blue-400 text-white;
  }
  .secondary {
    @apply bg-gray-400 text-black;
  }
  .error {
    @apply bg-red-400 text-white;
  }
  .text-error {
    @apply text-red-400;
  }
}
